body {
	background: black;
}
.postcard {
	background: white;
	width: 450px;
	height: 300px;
	margin: auto;
	margin-top: 200px;
}

.postcard-header {
	display: flex;
	padding: 5px;
}

h1 {
	width: 390px;
	height: 50px;
	margin: 0px;
}

.logo {
	height: 50px;
	width: 50px;
}

.postcard-body {
	display: flex;
}

.body-left {
	padding: 10px;
	width: 250px;
}

.body-right {
	padding: 10px;
	width: 200px;
}

input {
	margin-top: 20px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 10px rgb(143, 143, 143);
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(202, 202, 202);
	padding: 5px;
}
